.show_home {
  position: relative;
  min-height: 100vh;
  overflow-y: scroll;
  background: #f4f5f5;
}
.show_home > .content {
  margin: 70px auto 10px;
  display: flex;
  width: 1100px;
}
.show_home > .content > .left {
  width: 825px;
  min-height: 300px;
  margin-right: 10px;
  background: #fff;
}
.show_home > .content > .right {
  width: 265px;
  min-height: 300px;
  background: #fff;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}
.show_home > .content > .right .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: url('../img/avatar.jpg') no-repeat;
  background-size: cover;
  margin: 0 auto 15px;
}
.show_home > .content > .right .name {
  color: #1890ff;
  font-size: 16px;
  margin: 0 auto 15px;
}
.show_home > .content > .right .slogan {
  font-size: 14px;
  color: #999;
  margin: 0 auto 15px;
}
.show_home > .content > .right .tags li {
  display: inline-block;
  padding: 0px 5px;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 2px;
  color: pink;
  border: 1px solid pink;
  background: #fcf1f3;
}
.show_home > .content > .right .tags > li:nth-child(2) {
  color: #F44336;
  border: 1px solid #F44336;
  background: #f9eae9;
}
.show_home > .content > .right .tags > li:nth-child(3) {
  color: #9C27B0;
  border: 1px solid #9C27B0;
  background: #fff0f6;
}
.show_home > .content > .right .tags > li:nth-child(4) {
  color: #673AB7;
  border: 1px solid #673AB7;
  background: #f0ebf9;
}
.show_home > .content > .right .tags > li:nth-child(5) {
  color: #2196F3;
  border: 1px solid #2196F3;
  background: #eff2f5;
}
.show_home > .content > .right .tags > li:nth-child(6) {
  color: #4CAF50;
  border: 1px solid #4CAF50;
  background: #eaf1eb;
}
.show_home > .content > .right .tags > li:nth-child(7) {
  color: #CDDC39;
  border: 1px solid #CDDC39;
  background: #fcfdf0;
}
.show_home > .content > .right .tags > li:nth-child(8) {
  color: #FFEB3B;
  border: 1px solid #FFEB3B;
  background: #fdfcf5;
}
.show_home > .content > .right .tags > li:nth-child(9) {
  color: #FFC107;
  border: 1px solid #FFC107;
  background: #f5f2e8;
}
.show_home > .content > .right .tags > li:nth-child(10) {
  color: #00BCD4;
  border: 1px solid #00BCD4;
  background: #ebf5f7;
}
.show_home > .content > .right .socialAccount {
  position: relative;
}
.show_home > .content > .right .socialAccount .line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #e8e8e8;
}
.show_home > .content > .right .socialAccount .text {
  position: relative;
  text-align: center;
  font-size: 16px;
  line-height: 50px;
  padding: 0px 10px;
  background: #fff;
  z-index: 2;
}
.show_home > .content > .right .iconList {
  display: block;
  margin: 0px auto 10px;
  font-size: 25px;
  color: #9E9E9E;
}
.show_home > .content > .right .iconList li {
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
}
.show_home > .content > .right .iconList > li:last-child {
  margin-right: 0;
}
.show_home footer {
  margin: 20px auto 30px;
}
.show_home footer p {
  text-align: center;
  color: #888;
  font-size: 16px;
}
