@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PingFangSC-Regular, sans-serif;
}
[v-cloak] {
  display: none !important;
}
#app {
  overflow-x: hidden;
  overflow-y: hidden;
  /*解决ios上滑动不流畅*/
  -webkit-overflow-scrolling: touch;
}
#app::-webkit-scrollbar {
  display: none;
}
.hr {
  display: block;
  height: 1PX;
  background: #F2F2F2;
}
p,
span {
  word-wrap: break-word;
  margin: 0;
}
html {
  color: #333;
  font-size: 14px;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  overflow: hidden;
  -webkit-touch-callout: text;
  /*系统默认菜单被禁用*/
  -webkit-user-select: text;
  /*webkit浏览器*/
  /*早期浏览器*/
  -moz-user-select: text;
  /*火狐*/
  -ms-user-select: text;
  /*IE10*/
  user-select: text;
  font-family: PingFangSC-Regular, sans-serif;
}
#app {
  height: 100vh;
}
html,
body {
  width: 100%;
  height: 100vh;
}
s {
  text-decoration: none;
}
img {
  border: none;
  max-width: 100%;
  display: block;
}
body {
  color: #000;
}
.inline li {
  display: inline-block;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a,
button,
input {
  text-decoration: none;
  background: none;
  outline: none;
  border: 0px;
  -webkit-tap-highlight-color: transparent;
  background: transparent;
  appearance: none;
  -webkit-appearance: none;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-justify {
  justify-content: center;
}
.flex-items {
  align-items: center;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
